each item,ctr in timeIndex
    // super simple :)
    if ctr > 0
        em or 

    span(title='#{item.hours} hours of sleep', class="toolt intensity wb-#{ctr+1}") #{item.human_hr}:#{item.human_min} #{item.am_pm} 