p You should try to <strong>fall asleep</strong> at one of the following times:
h2
  each item,ctr in timeIndex
    // super simple :)
    if ctr > 0
        em or 

    span(class='toolt intensity bw-#{ctr+1}', title='#{item.hours} hours of sleep') #{item.human_hr}:#{item.human_min} #{item.am_pm} 
p Please keep in mind that you should be <i>falling asleep</i> at these times.
p The average adult human takes <strong>fourteen minutes</strong> to fall asleep, so plan accordingly!
p sleepyti.me works by counting backwards in <strong>sleep cycles</strong>. Sleep cycles typically last <strong>90 minutes</strong>.
p Waking up in the middle of a sleep cycle leaves you feeling tired and groggy, but waking up <em>in between</em> cycles lets you wake up feeling refreshed and alert!
p
  a(href="/") Go back to the home page.